<form method="post" action="{{ path('chantier_delete', {'id': chantier.id}) }}" onsubmit="return confirm('Vous etes sur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chantier.id) }}">
    <button class="btn">Supprimer</button>
</form>
