<form method="post" action="{{ path('interlocuteurs_delete', {'id': interlocuteur.id}) }}" onsubmit="return confirm('Vous etes sur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interlocuteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
